html, body
{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body
{
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    font-size: 2.4em;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
    
    background: -webkit-linear-gradient(bottom left, #fc80dd 0%, #853ee2 10%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
    padding-left: 20px;
}

nav
{
    font-family: sans-serif;
    text-transform: uppercase;
}

nav ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 150px;
}

nav li
{
    flex: 1;
}

nav a
{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

nav a:hover
{
    text-decoration: underline;
}

h2
{
    color: white;
    text-align: center;
}

#albums ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

#albums li
{
    flex: 1;
}

@media screen and (min-width: 700px)
{
    
    header
    {
        display: flex;
    }
    
    nav
    {
        flex: 2 1 0%;
        
    }

    nav ul
    {
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-around;
    }
    
    nav li
    {
        text-align: center;
    }
    
    nav a
    {
        text-align: center;
    }
    
    h2
    {
        text-transform: uppercase;
        font-style: italic;
        text-align: center;
    }
    
    
    #albums ul
    {
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }

    
    #albums ul img
    {
        display: block;
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 900px)
{
    
    header
    {
        display: flex;
        width: 100%;
    }

    nav ul
    {
        width: 500px;
        padding: 0;
        margin-left: auto;
    }
}